<h1><%- title %></h1>
<%- messages() %>
<div class="form-container">
    <form action="/account/login" method="POST">
        <div class="form-group">
            <label for="account_email">Email:</label>
            <input type="email" id="account_email" name="account_email" required>
        </div>
        <div class="form-group">
            <label for="account_password">Password:</label>
            <input type="password" id="account_password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
        </div>
        <div>
            <p>The password must:</p>
            <ul>
                <li>be at least 12 characters long</li>
                <li>contain at least 1 capital letter</li>
                <li>contain at least 1 number</li>
                <li>contain at least 1 special character</li>
            </ul>
        </div>
        <button type="submit">Login</button>
    </form>
    <div class="form-footer">
        <p>No account? <a href="/account/register">Sign-up</a></p>
    </div>
</div>